@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

//Variables
@import 'variables/mixins/scss-flex-dat/flex-dat';
@import 'variables/mixins/mq';  
@import 'variables/colors';

//Layouts
@import 'layout/content';

//Components
@import 'components/navbar.scss';
@import 'components/buttons.scss';
@import 'components/postlist';
@import 'components/slider';

    
//Page Specific
@import 'pages/contact_us';
@import 'pages/home';

// Quick Fixes

a {
    text-decoration: none;
}   

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

h1, h2, h3, p, h4 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}