.hero {
    @include flex-dat('center flex-start');
    background-color: $dragonRed;


    .slider {
        width: 100%;
        @include for-size(desktop-up) {
            width: 40%;
        }

        &-img {
            object-fit: cover;
            width: 100%;
        }    
    }
    &-content {
        @include flex-dat('center', 'column');
        padding: 3em 1em;
        width: 100%;

        @include for-size(desktop-up) {
            padding: 0;
            width: auto;
            padding-left: 4em;
            @include flex-dat('flex-start', 'column');
        }

        h1 {
            margin-block: 0.2em;
        }
        color: white;
    }
}

.cards-section {
    @include flex-dat('center', 'column');
    padding: 4em 0em;
    background-color: $secondary;

    .section-title {
        color: $darkGrey;
        padding-bottom: 1.5em;
    }
}

.things-cards {
    @include flex-dat('space-around center');
}

.card {
    width: 16em;
    height: 8em;
    border-radius: 50px;
    background-color: $dragonRed;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    @include flex-dat('flex-end center');
    padding: 1.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s ease-in-out;
    user-select: none;


    h2{
        text-transform: uppercase;
        font-size: 1em;
        user-select: none;
        text-decoration: none;

        &:visited, &:active {
            color: white;
            text-decoration: none;
        }
    }

    &-sports {
        background-image: url('https://images.unsplash.com/photo-1515061942942-2fb5aa4d63c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    }

    &-accommodation {
        background-image: url('https://images.unsplash.com/photo-1592212671263-5da5627c5819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80');
    }

    &-architecture {
        background-image: url('https://images.unsplash.com/photo-1584992736989-ffa377fe22d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');

    }

    &-events {
        background-image: url('https://images.unsplash.com/photo-1472653431158-6364773b2a56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
    }

    &:hover {
        box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.4);
    }
}

.contact-section {
    @include flex-dat('start', 'column');

    @include for-size(tablet-landscape-up) {
        @include flex-dat('start', 'row');
    }
    padding: 5em 0em;
    background-color: $darkGrey;
    color: white;

    .contact__info {
        @include flex-dat('center', 'column');
        padding-bottom: 5em;
        @include for-size(tablet-landscape-up) {
            width: 50%;
            margin-left: 5em;
            padding: 0;
        }
        height: 100%;

        .contact__info__p {
            padding: 0.5em 5em;

            @include for-size(desktop-up) {
                padding: 0.5em 10em;
            }
            text-align: center;
        }
    }

    .contact__form {
        @include flex-dat('center', 'column');
        @include for-size(tablet-landscape-up) {
            width: 30%;
            margin: 0;
        }
        margin: 2em;
        padding: 2em;
        background-color: white;
        border-radius: 2em 0em; 
        box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.4);


        &__field {
            padding-bottom: 2em;
        }

        h1 {
            color: $darkGrey;
            padding-bottom: 0.5em;
        }

        form {
            color: $darkGrey;
            fieldset {
                margin-bottom: 2em;
                border: 2px solid $darkGrey;

                input {
                    width: 95%;
                }
            }

            .error {
                border: 2px solid red;
            }


            .success {
                border: 2px solid green;
            }

            input, textarea, select {
                width: 100%;
                padding: 0.5em;
                margin: 1em 0;
                border: 2px solid $darkGrey;
            }

            textarea {
                width: 96%;
            }

            input[type=submit] {
                color: white;
                text-transform: capitalize;
                background-color: $darkGrey;
            }
        }
    }
}

.contact__info__title {
    @include flex-dat('center', 'row');

    img {
        transform: translateY(4px);
        height: 2em;
    }
}