.post-list {
    margin: 3em;
    padding-bottom: 3em;

    .post-img {
        width: 100%;
        object-fit: cover;
        @include for-size(tablet-landscape-up) {
            width: 20em;
            height: 20em;
        }
    }

    &-title {
        font-family: "Roboto";
        font-weight: 300;
        color: $darkGrey;
    }
}

.post {
    margin: 2em 0;
    background-color: $secondary;
    @include flex-dat('center', 'column');

    @include for-size(tablet-landscape-up) {
        @include flex-dat('center start', 'row');
    }
    &-info {
        margin-top: 2em;

        .btn {
            font-size: 0.8em;
        }

        &-distance { 
            display: none;
            padding-left: 0.5em;
            @include for-size(tablet-landscape-up) {
                display: inline;
            }
            color: $dragonRed;
        }
    }

    &-content {
        padding: 2em 3em;
        width: 80%;
        
        &-title {
            font-weight: 500;
        }

        &-excerpt {
            @include for-size(tablet-landscape-up) { width: 60%; }
            width: 100%;
            font-weight: 300;
            padding-top: 0.5em;
        }
    }
}