.slider {
    @include flex-dat('center');
    position: relative;

    &-img {
        width: 100%;
        height: 20em;
    }

    &-controls {
        @include flex-dat('space-between');
        margin: 1rem;
        color: white;
        font-size: 1.5rem;
        position: absolute;
        width: 90%;


        i {
            font-size: 1em;
        }
    }

    &-dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border: solid white 2px;
        border-radius: 50%;
        margin: 1em;
    }

    &-dot-active {
        background-color: white;
    }

    &-status-dots {
        @include flex-dat('center');
        position: absolute;
        bottom: 0.5em;
        left: 0;
        width: 100%;
    }
    

}