.btn {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    &-primary {
        background-color: transparent;
        border: 2px solid white;
        padding: 0.5em 1em;
        color: white;
        text-transform: uppercase;
    }

    &-secondary { 
        background-color: transparent;
        border: 2px solid black;
        padding: 0.5em 1em;
        color: black;
        text-transform: uppercase;
    }
}