.navbar{
    @include flex-dat('center space-between', 'center');
    transition: all 0.25s ease-in-out;

    padding: 1em;
    @include for-size(desktop-up) {
        padding: 2em;
    }

    &-logo {
       height: 3em;
    }

    &-links {
        a {
            display: none;
            @include for-size(desktop-up) {
                display: inline-flex;
            }
            font-family: 'Roboto', sans-serif;
            color: $dragonRed;
            text-transform: uppercase;
            text-decoration: none;
            margin-left:1em;
            margin-right: 1em;
            user-select: none;
            transition: all 1s ease-in-out;
        }
    }
}

.open {
    padding-bottom: 18em;
    border-bottom: 2px solid $dragonRed;

    .navbar-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5em;
        left: 0em;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 5em;
        align-items: center;

        a {
            display: flex;
            opacity: 1;
            padding: 0.5em;
        }
    }
}

.mobile-nav-icon {
    color: $dragonRed;
    transform: translateX(-1em);

    @include for-size(desktop-up) {
        display: none;
    }
}